// Floats
// -------------------------

.clearfix {
  .clearfix();
}

.center-block {
  .center-block();
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

// Toggling content
// -------------------------

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  .text-hide();
}

// Animate
// -------------------------

.animate {
  .animate(@duration, @cubic-bezier);
}

// Gaps
// ---------------------------

.side-margin {
  margin-left: @gap;
  margin-right: @gap;
}

.side-padding {
  padding-left: @gap;
  padding-right: @gap;
}